.card-section{
    width: 100%;
    background: #2f1356;
    color: #fff;

    h6{
        padding-top: .5em;
        padding-left: .5em;
    }
}

.topicCardContainer{
    height: 10em;
    width: 10em;
}